<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit" name="button" >Agregar</button>
    </form>
    <h1>Agregar Equipo</h1>
  </body>
</html>
