<h1>Listado de jugadores<h1>

  {% block content %}

    {% for jugadores in lista_jugadores %}
    <table>
    <td>  {{ jugadores.name }}  {{ jugadores.number }} </td>
    </table>
    {% endfor %}
  {% endblock %}
