<h1>Listado de estadios<h1>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


  {% block content %}


    <table class="table table-strip">
      <th>Nombre</th>
      <th>Capacidad</th>
    {% for estadio in lista_estadios %}
  <tr>
    <td> {{ estadio.nombre }} </td> 
    <td> {{ estadio.capacidad }} </td>
  </tr>
    {% endfor %}
    </table>

  {% endblock %}
